In [10]:
import pandas as pd
import numpy as np
from collections import Counter

In [11]:
df = pd.read_csv("fruit_data_with_colors.txt",delimiter = "\t")

In [12]:
df.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [13]:
df.drop({'fruit_label','fruit_name','fruit_subtype'},axis=1,inplace=True)

In [14]:
df.head()

   mass  width  height  color_score
0   192    8.4     7.3         0.55
1   180    8.0     6.8         0.59
2   176    7.4     7.2         0.60
3    86    6.2     4.7         0.80
4    84    6.0     4.6         0.79

In [15]:
x=np.array(df)

In [16]:
x[:10]

array([[192.  ,   8.4 ,   7.3 ,   0.55],
       [180.  ,   8.  ,   6.8 ,   0.59],
       [176.  ,   7.4 ,   7.2 ,   0.6 ],
       [ 86.  ,   6.2 ,   4.7 ,   0.8 ],
       [ 84.  ,   6.  ,   4.6 ,   0.79],
       [ 80.  ,   5.8 ,   4.3 ,   0.77],
       [ 80.  ,   5.9 ,   4.3 ,   0.81],
       [ 76.  ,   5.8 ,   4.  ,   0.81],
       [178.  ,   7.1 ,   7.8 ,   0.92],
       [172.  ,   7.4 ,   7.  ,   0.89]])

In [44]:
X = df[["mass","width","height"]]

#### x[:10]

In [46]:
Y = df["fruit_label"]

In [47]:
trainX = np.array(X[:50])
trainY = np.array(Y[:50])
testX = np.array(X[50:])
testY = np.array(Y[50:])

In [48]:
print(df)

    fruit_label fruit_name     fruit_subtype   mass  width  height  \
0             1      apple      granny_smith    192    8.4     7.3
1             1      apple      granny_smith    180    8.0     6.8
2             1      apple      granny_smith    176    7.4     7.2
3             2   mandarin          mandarin     86    6.2     4.7
4             2   mandarin          mandarin     84    6.0     4.6
5             2   mandarin          mandarin     80    5.8     4.3
6             2   mandarin          mandarin     80    5.9     4.3
7             2   mandarin          mandarin     76    5.8     4.0
8             1      apple          braeburn    178    7.1     7.8
9             1      apple          braeburn    172    7.4     7.0
10            1      apple          braeburn    166    6.9     7.3
11            1      apple          braeburn    172    7.1     7.6
12            1      apple          braeburn    154    7.0     7.1
13            1      apple  golden_delicious    164    7.3     7.7
14            1      apple  golden_delicious    152    7.6     7.3
15            1      apple  golden_delicious    156    7.7     7.1
16            1      apple  golden_delicious   1000    7.6     7.5
17            1      apple  golden_delicious    168    7.5     7.6
18            1      apple       cripps_pink    162    7.5     7.1
19            1      apple       cripps_pink    162    7.4     7.2
20            1      apple       cripps_pink    160    7.5     7.5
21            1      apple       cripps_pink    156    7.4     7.4
22            1      apple       cripps_pink    140    7.3     7.1
23            1      apple       cripps_pink    170    7.6     7.9
24            3     orange     spanish_jumbo    342    9.0     9.4
25            3     orange     spanish_jumbo    356    9.2     9.2
26            3     orange     spanish_jumbo    362    9.6     9.2
27            3     orange  selected_seconds    204    7.5     9.2
28            3     orange  selected_seconds    140    6.7     7.1
29            3     orange  selected_seconds    160    7.0     7.4
30            3     orange  selected_seconds    158    7.1     7.5
31            3     orange  selected_seconds    210    7.8     8.0
32            3     orange  selected_seconds    164    7.2     7.0
33            3     orange      turkey_navel    190    7.5     8.1
34            3     orange      turkey_navel    142    7.6     7.8
35            3     orange      turkey_navel    150    7.1     7.9
36            3     orange      turkey_navel    160    7.1     7.6
37            3     orange      turkey_navel    154    7.3     7.3
38            3     orange      turkey_navel    158    7.2     7.8
39            3     orange      turkey_navel    154    7.3     7.5
40            3     orange      turkey_navel  30000    7.1     7.5
41            3     orange      turkey_navel    180    7.6     8.2
42            3     orange      turkey_navel    154    7.2     7.2
43            4      lemon    spanish_belsan    194    7.2    10.3
44            4      lemon    spanish_belsan    200    7.3    10.5
45            4      lemon    spanish_belsan    186    7.2     9.2
46            4      lemon    spanish_belsan    216    7.3    10.2
47            4      lemon    spanish_belsan    196    7.3     9.7
48            4      lemon    spanish_belsan    174    7.3    10.1
49            4      lemon           unknown    132    5.8     8.7
50            4      lemon           unknown    130    6.0     8.2
51            4      lemon           unknown    116    6.0     7.5
52            4      lemon           unknown    118    5.9     8.0
53            4      lemon           unknown    120    6.0     8.4
54            4      lemon           unknown    116    6.1     8.5
55            4      lemon           unknown    116    6.3     7.7
56            4      lemon           unknown    116    5.9     8.1
57            4      lemon           unknown    152    6.5     8.5
58            4      lemon           unknown    118    6.1     8.1

    color_score
0          0.55
1          0.59
2          0.60
3          0.80
4          0.79
5          0.77
6          0.81
7          0.81
8          0.92
9          0.89
10         0.93
11         0.92
12         0.88
13         0.70
14         0.69
15         0.69
16         0.67
17         0.73
18         0.83
19         0.85
20         0.86
21         0.84
22         0.87
23         0.88
24         0.75
25         0.75
26         0.74
27         0.77
28         0.72
29         0.81
30         0.79
31         0.82
32         0.80
33         0.74
34         0.75
35         0.75
36         0.76
37         0.79
38         0.77
39         0.76
40         0.78
41         0.79
42         0.82
43         0.70
44         0.72
45         0.72
46         0.71
47         0.72
48         0.72
49         0.73
50         0.71
51         0.72
52         0.72
53         0.74
54         0.71
55         0.72
56         0.73
57         0.72
58         0.70

In [49]:
class KNN:
    def __init__(self,k = 1):
        self.k = k
        
    def euclidian_distance(self,query,X):
        difference = np.array(X) - np.array(query)
        sqrd_diff = np.square(difference)
        sum_sqrd_diff = np.sum(sqrd_diff, axis = 1)
        distance = np.sqrt(sum_sqrd_diff)
        return distance
    
    def nearest_neighbours(self,distance):
        return np.argsort(distance)[:self.k]
    
    def predict(self,query,trainX,trainY):
        ed = self.euclidian_distance(query,trainX)
        nn = self.nearest_neighbours(ed)
        labels_nn = list(trainY[nn])
        return max(labels_nn, key = labels_nn.count)

In [50]:
classifier = KNN(4)

In [51]:
predictions = [classifier.predict(x,trainX,trainY) for x in testX]

In [52]:
predictions

[3, 3, 3, 3, 3, 3, 3, 3, 3]

In [53]:
testY

array([4, 4, 4, 4, 4, 4, 4, 4, 4], dtype=int64)

In [54]:
df = pd.read_csv("fruit_data_with_colors.txt",delimiter = "\t")

In [55]:
X = np.array(df[["mass","width","height","color_score"]])

In [56]:
  X.shape

(59, 4)

In [57]:
K = 4

In [58]:
centroidIndex = np.random.randint(0,58,(4,))

In [59]:
centroidIndex

array([17, 12, 47, 11])

In [60]:
centroids = X[centroidIndex]

In [61]:
centroids

array([[168.  ,   7.5 ,   7.6 ,   0.73],
       [154.  ,   7.  ,   7.1 ,   0.88],
       [196.  ,   7.3 ,   9.7 ,   0.72],
       [172.  ,   7.1 ,   7.6 ,   0.92]])

In [62]:
X_ = np.delete(X,centroidIndex, axis = 0)

In [63]:
clusters = [[],[],[],[]]
clusters[0].append(centroids[0])
clusters[1].append(centroids[1])
clusters[2].append(centroids[2])
clusters[3].append(centroids[3])

In [64]:
def euclidian_distance(query,X):
        difference = np.array(X) - np.array(query)
        sqrd_diff = np.square(difference)
        sum_sqrd_diff = np.sum(sqrd_diff, axis = 1)
        distance = np.sqrt(sum_sqrd_diff)
        return distance

In [65]:
for x in X_:
    id = np.argmin(euclidian_distance(x,centroids))
    clusters[id].append(x)

In [66]:
len(clusters[0])

7

In [67]:
len(clusters[1])

31

In [68]:
len(clusters[2])

14

In [69]:
len(clusters[3])

7

In [70]:
centroids[0] = np.mean(clusters[0],axis = 0)